.modal-popup-wrapper{
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  min-width: 320px;
  height: 100%;
}
.modal-popup-wrapper > .modalMsg {
  z-index: 200;
  position: relative;
  max-width: 435px;
  text-align: center;
  background-color: rgb(255, 255, 255);
  margin: 100px auto 0;
}
.modalMsg-overlay {
  display: none;
  z-index: 191;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(131,131,131,0.5);
  opacity: .5;
}